@import "../abstracts/variable";

body {
    font-family: 'Roboto', 'Playfair Display' ;
}

#hero h1 {
    font-size: 70px;
    font-family: $titulos ;
    font-weight: 900;
    font-style: italic;
    color: white;
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    text-shadow: 2px 2px 10px #242424;
}

.fecha {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 16px;
    color: grey;
}

.parrafo p {
    font-weight: 300;
    font-size: 16px;
    
}

.info h1 {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 30px;
    font-style: italic;

}

.texto {
    font-weight: 300;
    font-size: 16px;
}

.info a {
    color: #DE8684;
}